.slds-p-around_medium {
	font-weight: 900;
}
.cardHeader{
	margin-bottom: -29px;
}
.githubIconClass{
	justify-content: flex-end;
    /* align-items: center; */
    display: flex;
}
.resultBadge{
	align-content: center;
    justify-content: center;
    display: flex;
}


<!-- COMMUNITY CSS -->
.comm-content-header{
    display: none;
}

.comm-content-footer{
    display: none;
}
.contentRegion{
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cCenterPanel{
    margin-top: 0rem;
}
.siteforceStarterBody{
    overflow: hidden;
	height: 80rem;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,205,85,1) 0%, rgba(0,212,255,1) 100%);
}

.slds-card{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,249,163,1) 0%, rgba(140,232,204,1) 45%, rgba(235,217,150,1) 73%);  
}

<!-- COMMUNITY CSS ENDS -->
